# Dependencies
node_modules
npm-debug.log

# Build outputs
dist

# Environment and config
.env
.env.*

# Version control
.git
.gitignore

# IDE
.vscode
.idea

# Testing
coverage
__tests__

# Logs
*.log

# Documentation
README.md
LICENSE
CHANGELOG.md